[Unit]
Description=Postgresql server
Requires=postgresql-init.service
After=postgresql-init.service

[Service]
ExecStartPost=/opt/bin/postgresql-createdbs.sh /etc/postgresql/db-init.d
Type=forking
